<header class="main-header">
  <nav class="nav-container">
    <div class="logo">
      <a routerLink="/cartelera">
        <img src="icon-cine-50.png" alt="Cine Imperial" />
        <span>Cine Imperial</span>
      </a>
    </div>

    <ul class="nav-links">
      <li>
        <a routerLink="/cartelera" routerLinkActive="active">Cartelera</a>
      </li>

      @if (!usuarioActual()) {
        <li>
          <a routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
        </li>

        <li>
          <a routerLink="/registro" routerLinkActive="active">Registro</a>
        </li>
      }

      @if (esUsuario()) {
        <li class="user-greeting">
          👤 Hola, <strong>{{ usuarioActual()?.nombre }}</strong>
        </li>

        <li>
          <a routerLink="/perfil" routerLinkActive="active">Mi perfil</a>
        </li>

        <li>
          <button (click)="cerrarSesion()" class="btn-logout">Cerrar Sesión</button>
        </li>
      }

      @if (esEmpleado()) {
        <li class="user-greeting">
          👤 Empleado: <strong>{{ usuarioActual()?.nombre }}</strong>
        </li>

        <li>
          <a routerLink="/escanear" routerLinkActive="active"> Escanear códigos </a>
        </li>

        <li>
          <button (click)="cerrarSesion()" class="btn-logout">Cerrar Sesión</button>
        </li>
      }

      @if (esAdmin()) {
        <li class="user-greeting">
          👑 Admin: <strong>{{ usuarioActual()?.nombre }}</strong>
        </li>

        <li>
          <a routerLink="/admin" routerLinkActive="active"> Panel Admin </a>
        </li>

        <li>
          <button (click)="cerrarSesion()" class="btn-logout">Cerrar Sesión</button>
        </li>
      }
    </ul>
  </nav>
</header>

<main class="main-content">
  <router-outlet></router-outlet>
</main>
